.leaflet-container {
    width: 50vh;
    height: 50vh;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* --primary-color: blueviolet; */
    /* --secondary-color: orange; */

    --box-shadow-heavy: 0 4px 8px 0 rgba(0, 0, 0, 0.9),
        0 6px 20px 0 rgba(0, 0, 0, 0.9);
    --box-shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
}

.leaflet-container {
    /* width: 100vw; */
    height: 300px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "favourites favourites"
        "map facts"
        "animals-list animal-detail"
        "quiz quiz";
    gap: 1em;
    margin: 1em;
}

li {
    list-style: none;
}

li:hover {
    font-size: 2em;
    cursor: pointer;
}

header {
    grid-area: header;
    box-shadow: var(--box-shadow-light);
}

.map-container {
    grid-area: map;
    box-shadow: var(--box-shadow-light);
}

.facts-container {
    grid-area: facts;
    box-shadow: var(--box-shadow-light);
}

.animals-list-container {
    grid-area: animals-list;
    box-shadow: var(--box-shadow-light);
}

.animal-detail-container {
    grid-area: animal-detail;
    box-shadow: var(--box-shadow-light);
}

.quiz-container {
    grid-area: quiz;
    box-shadow: var(--box-shadow-light);
}

.container {
    /* border: 1px solid red; */
    height: 100vh;
}

/* Favourite container hold favourite animal images */
.favourites-container {
    grid-area: favourites;
    text-align: center;
    box-shadow: var(--box-shadow-light);
}

/* .favourites-container::-webkit-scrollbar {
    display: none;
} */
.fav-container {
    display: flex;
    overflow-x: auto;
    /* width: 80%;
    margin: auto;
    justify-items: center; */
}

.fav-image {
    margin: 1em;
    border: 3px solid grey;
    border-radius: 50%;
    box-shadow: var(--box-shadow-light);
}

.fav-image:hover {
    box-shadow: var(--box-shadow-heavy);
}

.favouriteAnimalsTitle {
    /* display: flex; */
    margin-bottom: 0em;
}

/* Temporary borders to show page layout */
header,
.favourites-container,
.animal-detail-container,
.animals-list-container,
.quiz-container,
.facts-container,
.map-container {
    width: 100%;
    /* border: 3px solid grey; */
    text-align: center;
}

.favourites-container > li {
    display: inline;
    margin: 0.5em;
}
