*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    /* --primary-color: blueviolet; */
    /* --secondary-color: orange; */

    --box-shadow-heavy: 0 4px 8px 0 rgba(0, 0, 0, 0.9),
        0 6px 20px 0 rgba(0, 0, 0, 0.9);
    --box-shadow-light: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
        0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

body {
    margin: 0;
}

.icon-marker {
    border-radius: 50%;
    border: 3px solid grey;
    box-shadow: var(--box-shadow-light);
}

.icon-marker:hover {
    box-shadow: var(--box-shadow-heavy);
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 80px auto 1fr 1fr 1fr;
    grid-template-areas:
        "header header"
        "favourites favourites"
        "map facts"
        "animals-list animal-detail"
        "quiz quiz";
    gap: 1em;
    margin: 1em;
}

.leaflet-container {
    height: 50vh;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /* border-radius: 25px;
    grid-area: map; */
    /* width: 50vw; */
    /* box-shadow: var(--box-shadow-light); */
}

li {
    list-style: none;
}

li:hover {
    cursor: pointer;
}

header {
    grid-area: header;
}

.map-container {
    grid-area: map;
    border-radius: 25px;
}

.map-container h1 {
    /* background-color: orange; */
    margin-top: 0;
    margin-bottom: 0;
}

.facts-container {
    grid-area: facts;
}

.animals-list-container {
    grid-area: animals-list;
    /* border: 3px solid blue; */
}

.animal-list-inner-container {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: fit-content;
    overflow: auto;
    justify-content: center;
    /* border: 3px solid red; */
}

.animal-list-image {
    width: 150px;
    height: auto;
    margin: 0.5em;
    border: 3px solid grey;
}

.animal-list-image:hover {
    box-shadow: var(--box-shadow-heavy);
}

.animal-detail-container {
    grid-area: animal-detail;
}

.quiz-container {
    grid-area: quiz;
}

.container {
    height: 100vh;
}

/* Favourite container hold favourite animal images */
.favourites-container {
    grid-area: favourites;
    text-align: center;
}

.fav-container {
    display: flex;
    overflow-x: auto;
    /* width: 80%;
    margin: auto;
    justify-items: center; */
}

.fav-image {
    margin: 1em;
    border: 3px solid grey;
    border-radius: 50%;
}

.fav-image:hover {
    box-shadow: var(--box-shadow-heavy);
}

.favouriteAnimalsTitle {
    /* display: flex; */
    margin-bottom: 0em;
}

/* Temporary borders to show page layout */
header,
.favourites-container,
.animal-detail-container,
.animals-list-container,
.quiz-container,
.facts-container,
.map-container {
    width: 100%;
    /* border: 3px solid grey; */
    text-align: center;
    box-shadow: var(--box-shadow-light);
}

.favourites-container > li {
    display: inline;
    margin: 0.5em;
}

.hide {
    display: none;
    border: 1px solid red;
    text-align: left;
    padding: 20px;
    margin: 10px;
}

.myDIV:hover + .hide {
    display: block;
    color: red;
}
